body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Oculta el scroll horizontal */
}
/*banner */


.banner{
    background-color: #55bac1; /* Color de fondo del banner */
    color: white;              /* Color del texto */
    text-align: center;        /* Centrar el texto */
    padding: 120px;            /* Espaciado interno */
    width: 1290px;               /* Ancho completo de la pantalla */
    position:absolute;           /* Fijar el banner en la parte superior */
    top: 0;                    /* Alinearlo con la parte superior de la pantalla */
    left: 0;                   /* Alinearlo con el borde izquierdo de la pantalla */
    z-index: 1;           /* Asegúrate de que esté encima de otros elementos */

}

.nombrePag{
    position: absolute;
    color: black;
    width: 800px;
    font-size: 80px;
    margin-left: 450px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 2;
    top: -55px;
}


/* decorado */
.discordLogoUp{
    position: absolute;
    width: 250px;
    margin-left: 580px;
    z-index: 1;
    top: 110px;
    font-family: style1;
}

.infoDiscPerfil{
    position: absolute;
    top: 250px;
    width: 450px;
    margin-left: 5px;
    border-radius: 30px;
}


.info{
    position: absolute;
    z-index: 2;
    width: 730px;
    top: 240px;
    margin-left: 790px;
  
}
/* botones */
.unirse{
    position: absolute;
    top: 560px;
    width: 650px;
    margin-left: -60px;
    transition: transform 0.5s;
}

.unirse:hover{
    transform: scale(1.2);
}

.botonInfo{
    position: absolute;
    width: 500px;
    margin-left: 930px;
    top: 360px;
    z-index: 3;
    transition: transform 0.3s;
}

.botonInfo:hover{
    transform: scale(0.8);
}